*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
.container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(76, 76, 207);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
